* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}

nav {
    /* flex grow shrink basis */
    flex: 0 0 auto;
    background: #05446c;
    color: #fff;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    display: block;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    transition: color is ease, background is ease, padding is ease;
}

/* the transition properties are defined below */

nav ul li a:hover {
    color: #05446c;
    padding-left: 60px;
    background: #fff;
}

#nav-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
}

#nav-top h3 {
    font-size: 30px;
    padding: 5px;
    color: #fff;
    border: 3px solid #fff;
    transition: color 2s, ease background 2s ease;
    /* transition:  */
}

#nav-top h3:hover {
    background: #fff;
    color: #05446c;
}

#btn-menu {
    padding: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    align-self: center;
}

.bar1, .bar2, .bar3 {
    height: 5px;
    width: 35px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform is ease;
}

.turn .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.turn .bar2 {
    opacity: 0;
}

.turn .bar3 {
    transform: rotate(45deg) translate(-7px, -8px);
}

@media screen and (min-width:690px) {
    nav {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        padding: 0 20px;
        color: #fff;
    }
    #btn-menu {
        display: none;
    }
    nav ul {
        flex: 1 1 auto;
        display: flex!important;
        flex-wrap: wrap;
    }
    nav ul li {
        /* flex grow,shrink,px  */
        flex: 1 0 125px;
    }
    nav ul a {
        text-align: center;
    }
    nav ul a:hover {
        padding: 10px!important;
    }
}

/* end of nav */

/* --------banner---------- */

#banner {
    min-height: 70vh;
    background: linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.1)), url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* the actual items on the banner */
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-form {
    text-align: center;
    background: rgba(214, 214, 219, 0.5)
}

input {
    margin: 20px;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 2px;
    box-sizing: border-box;
}

input[type=button] {
    background-color: #05446c;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    box-sizing: border-box;
}

/* --------end of banner----- */

/*posts*/

.Heading p {
    padding: 20px;
    text-align: center;
    color: #05446c;
    background: rgba(214, 214, 219, 0.5);
    font-size: 20px;
}

.posts {
    background: #fff;
    /* padding: 10px 25px; */
}

.post {
    display: flex;
    padding: 10px;
}

.whychooseus {
    width: 33%;
    text-align: center;
    padding: 5%;
}

.whychooseus h3 {
    color: #05446c;
}

/* end of posts */

/* footer */

footer {
    position: fixed;
    background-color: #001f45;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    bottom: 0;
    width: 100%;
    margin-top: 15px;
}

.footer-text {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.footer-icons {
    font-size: 30px;
}

.footer-icons .fa {
    margin-right: 10px;
    color: #fff;
    transition: transform 2s;
}

.footer-icons .fa:hover {
    color: #001f45;
    transform: translateY(-15px);
}